{
    "plugins": ["prettier-plugin-sql"],
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.sqlite",
            "options": {
                "language": "sqlite"
            }
        },
        {
            "files": "*.sql",
            "options": {
                "language": "postgresql"
            }
        }
    ]
}
