:root {
    --orange-50: #fff6f3;
    --orange-100: #ffeee8;
    --orange-200: #ffd3c4;
    --orange-300: #ffa384;
    --orange-400: #ff8760;
    --orange-500: #ff6832;
    --orange-600: #ff5500;
    --orange-700: #da4700;
    --orange-800: #ab3600;
    --orange-900: #681d00;
    --orange-950: #250600;

    --neutral-50: #fdf7f5;
    --neutral-100: #efeae8;
    --neutral-200: #d5cfce;
    --neutral-300: #a39d9b;
    --neutral-400: #676260;
    --neutral-500: #4b4645;
    --neutral-600: #312d2b;
    --neutral-700: #24211f;
    --neutral-800: #141110;
    --neutral-900: #0b0808;

    --cyan-50: #e4fffc;
    --cyan-100: #c6fff9;
    --cyan-200: #73fff5;
    --cyan-300: #00fef3;
    --cyan-400: #00dacf;
    --cyan-500: #00b6ad;
    --cyan-600: #00948d;
    --cyan-700: #00736d;
    --cyan-800: #00534f;
    --cyan-900: #003633;
    --cyan-950: #001b19;

    --error-100: #ffedeb;
    --error-300: #ff857a;
    --error-500: #d74742;
    --error-700: #73000a;
    --error-900: #1b0001;
}
