# Auth service
AUTH_PORT=8001

AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB=
AUTH_DB_PORT=5433
AUTH_DB_URL=postgres://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@auth_db:5432/${AUTH_DB}

AUTH_REDIS_PORT=6380
AUTH_REDIS_URL=redis://redis_sessions:6379

ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=30
