# Auth service
AUTH_PORT=8001
AUTH_URL=http://auth:8001

AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB=
AUTH_DB_PORT=5433
AUTH_DB_URL=postgres://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@auth_db:5432/${AUTH_DB}

AUTH_REDIS_PORT=6380
AUTH_REDIS_URL=redis://redis_sessions:6379

ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=30

# Gateway service
GATEWAY_PORT=8000

# Profiles service
PROFILES_PORT=8002
PROFILES_URL=http://profiles:8002

PROFILES_DB_USER=
PROFILES_DB_PASSWORD=
PROFILES_DB=
PROFILES_DB_PORT=5434
PROFILES_DB_URL=postgres://${PROFILES_DB_USER}:${PROFILES_DB_PASSWORD}@profiles_db:5432/${PROFILES_DB}
