# Auth service
AUTH_PORT=8001
AUTH_URL=http://auth:8001

AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB=
AUTH_DB_PORT=5433
AUTH_DB_URL=postgres://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@auth_db:5432/${AUTH_DB}

AUTH_REDIS_PORT=6380
AUTH_REDIS_URL=redis://redis_sessions:6379

ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=30

# Gateway service
GATEWAY_PORT=8000
GATEWAY_PUBLIC_URL=http://localhost:8000

# Profiles service
PROFILES_PORT=8002
PROFILES_URL=http://profiles:8002

PROFILES_DB_USER=
PROFILES_DB_PASSWORD=
PROFILES_DB=
PROFILES_DB_PORT=5434
PROFILES_DB_URL=postgres://${PROFILES_DB_USER}:${PROFILES_DB_PASSWORD}@profiles_db:5432/${PROFILES_DB}

# Tracks service
TRACKS_PORT=8003
TRACKS_URL=http://tracks:8003

TRACKS_DB_USER=
TRACKS_DB_PASSWORD=
TRACKS_DB=
TRACKS_DB_PORT=5435
TRACKS_DB_URL=postgres://${TRACKS_DB_USER}:${TRACKS_DB_PASSWORD}@tracks_db:5432/${TRACKS_DB}

# S3 Storage
S3_API_PORT=3900
S3_WEB_PORT=3902
S3_ADMIN_PORT=3903
S3_WEBUI_PORT=3909

S3_ADMIN_URL=http://s3_storage:3903
S3_INTERNAL_URL=http://s3_storage:3900

S3_URL=http://s3_storage:3900
S3_BUCKET=cdn
S3_PUBLIC_URL=http://${S3_BUCKET}.localhost:3902

# Чтобы получить ключи нужно выполнить 4 шаг в разделе хранилище
S3_REGION=garage
S3_ACCESS_KEY=
S3_SECRET_KEY=
