@use "../../styles/forward" as *;

.flex {
    display: flex;

    &--direction-row {
        flex-direction: row;
    }
    &--direction-column {
        flex-direction: column;
    }

    &--justify-start {
        justify-content: flex-start;
    }
    &--justify-center {
        justify-content: center;
    }
    &--justify-space-between {
        justify-content: space-between;
    }
    &--justify-flex-end {
        justify-content: flex-end;
    }

    &--align-stretch {
        align-items: stretch;
    }
    &--align-center {
        align-items: center;
    }
    &--align-flex-start {
        align-items: flex-start;
    }
    &--align-baseline {
        align-items: baseline;
    }
    &--align-flex-end {
        align-items: flex-end;
    }

    &--wrap-nowrap {
        flex-wrap: nowrap;
    }
    &--wrap-wrap {
        flex-wrap: wrap;
    }
    &--wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &--gap-2xs {
        gap: var(--spacing-2xs);
    }
    &--gap-xs {
        gap: var(--spacing-xs);
    }
    &--gap-sm {
        gap: var(--spacing-sm);
    }
    &--gap-md {
        gap: var(--spacing-md);
    }
    &--gap-lg {
        gap: var(--spacing-lg);
    }
    &--gap-xl {
        gap: var(--spacing-xl);
    }

    &--mt-xs {
        margin-top: var(--spacing-xs);
    }
    &--mt-sm {
        margin-top: var(--spacing-sm);
    }
    &--mt-md {
        margin-top: var(--spacing-md);
    }
    &--mt-lg {
        margin-top: var(--spacing-lg);
    }
    &--mt-xl {
        margin-top: var(--spacing-xl);
    }

    &--mb-xs {
        margin-bottom: var(--spacing-xs);
    }
    &--mb-sm {
        margin-bottom: var(--spacing-sm);
    }
    &--mb-md {
        margin-bottom: var(--spacing-md);
    }
    &--mb-lg {
        margin-bottom: var(--spacing-lg);
    }
    &--mb-xl {
        margin-bottom: var(--spacing-xl);
    }

    &--full-width {
        width: 100%;
    }
}
