@use "@zelefy/ui/styles" as *;

.wrapper {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacing-md) var(--spacing-xs);

    display: flex;
    align-items: center;
    justify-content: center;

    container-type: inline-size;
}

.container {
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    padding: var(--spacing-xs) var(--spacing-md);
    width: max-content;
    max-width: 100%;
}

.mainControls {
    display: flex;
    gap: var(--radius-lg);
    align-items: center;
    justify-content: space-between;
}

.shrinkPrevent {
    flex-shrink: 0;
}

.divider {
    flex: none;
    background-color: var(--border-subtle);
    width: 1px;
    height: 30px;
}

.cover {
    border-radius: var(--radius-lg);
}

.meta {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 150px;
    @include text-body-sm;

    letter-spacing: var(--letter-spacing-tight);
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tertiaryControl {
    @container (max-width: 700px) {
        display: none !important;
    }
}

.secondaryControl {
    @container (max-width: 600px) {
        display: none !important;
    }
}

.optionalControl {
    @container (max-width: 550px) {
        display: none !important;
    }
}

@container (max-width: 700px) {
    .container {
        padding: var(--spacing-xs);
    }
    .meta {
        max-width: 110px;
    }
}

@container (max-width: 650px) {
    .mainControls {
        gap: var(--spacing-xs);
    }
}

@container (max-width: 600px) {
    .divider {
        display: none;
    }
}

// Progress Bar
.progressSection {
    display: flex;
    flex-direction: column;
    position: relative;
}
